.card__like-button {
    margin: 0;
    min-width: 22px;
    min-height: 19px;
    background-size: cover;
    background-color: transparent;
    border: none;
    padding-top: 5px;
    align-self: center;
    padding: 0;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background-image: url(../../../images/like-disabled.svg);
}

.card__like-button:hover {
    opacity: 0.5;
}