.header__email {
    margin: 0;
    align-self: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.3s;
}