.card__photo {
    max-width: 282px;
    height: 282px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: ease-in-out 0.3s;
    width: 100%;
}

.card__photo:hover {
    opacity: 0.6;
}